<div class="main-content">
  <div class="content-wrapper">
    <div class="container">
      <div class="col-md-12">
        <br>
        <h1 class="display-3">Welcome!!</h1>
        <br>
        <p class="lead">
          This is an attempt on the test questions sent over by Chaka.Ng. In my solution, I implemented page three and
          Page two. Click on the buttons below to navigate to whichever page you want.
        </p>
        <br>
        <p class="lead">
          Looking forward to hearing from you.
        </p>
        <br>
        <p class="lead">
          Cheers!!
        </p>
        <div class="col-md-12 card">
          <br>
          <div class="row">
            <div class="col-md-6">
              <p class="text-center">
                <button type="button" class="btn btn-primary" (click)="redirect('/page-three/landing')">
                  Page Three
                </button>
              </p>
            </div>

            <div class="col-md-6">
              <p class="text-center">
                <button type="button" class="btn btn-primary" (click)="redirect('/page-two/landing')">
                  Page Two
                </button>
              </p>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>